pkgbase = xkb-programisto-dvorak
	pkgdesc = Dvorak-based xkb layout for programmers, with Esperanto keys
	pkgver = 1.1.1
	pkgrel = 1
	arch = any
	license = custom
	source = podvorak
	source = 90-xkb-podvorak.conf
	source = UNLICENSE
	sha256sums = 312711da3edfc0f9aef4f1d8c31e2c57639ab37251cd57e942e54f51c8f7adcf
	sha256sums = e528d35ec6aa1c21cf64d9bb3906c4fddecc61bcfde28f404592c16fc0533962
	sha256sums = 7e12e5df4bae12cb21581ba157ced20e1986a0508dd10d0e8a4ab9a4cf94e85c

pkgname = xkb-programisto-dvorak

